:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --temporary-bg-color: #2f303a;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}



*,
::after,
::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}



.header-border {
  border-bottom: 1px solid #ececec;
}

.flex-nav {
  display: flex;
}

.flex-nav-menu {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.flex-nav-contact {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-menu-item:not(:first-child) {
  margin-left: 50px;
}

.logo {
  padding: 24px 0;

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-accent {
  color: var(--title-text-color);
}

.logo-accent:hover {
  color: var(--accent-color);
}

.site-nav-text {
  padding: 32px 0;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav-text:hover,
.site-nav-text:focus {
  color: var(--accent-color);
}

.site-contact {
  padding: 32px 0;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.site-contact:hover,
.site-contact:focus,
.current {
  color: var(--accent-color);
}

.nav-contact-item:not(:first-child) {
  margin-left: 50px;
}



.hero-title {
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: block;
  padding: 10px 32px;
  margin: auto;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color-hover);
}

.hero-bg-temporary {
  background-color: var(--temporary-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
}



.advantages-items {
  display: flex;
  justify-content: center;
}

.advantages-item {
  width: 270px;
}

.advantages-item:not(:first-child) {
  margin-left: 30px;
}

.advantages-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}



.wedo-section {
  padding-top: 0;
  padding-bottom: 94px;
}

.wedo-title {
  margin-bottom: 50px;
}

.wedo-ul {
  display: flex;
}

.wedo-item:not(:first-child) {
  margin-left: 30px;
}



.team {
  background-color: var(--team-bg-color);
}

.team-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.team-items {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.team-item {
  height: 368px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:first-child) {
  margin-left: 30px;
}

.team-item-text {
  padding: 30px 24px;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-item-role {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
  text-align: center;
  margin: 0;
}



.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-accent-footer {
  color: var(--primary-white-color);
}

.logo-accent-footer:hover {
  color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer-adress:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--primary-white-color);
}

.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer-map:hover,
.footer-map:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}



.works-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.work-button-li {
  margin-left: 8px;
}

.work-button {
  padding: 6px 22px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  border: none;
  border-radius: 4px;
}

.button-current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-button:hover,
.work-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;
}



.works-container {
  width: 1200px;
  padding-left: -15px;
  padding-right: -15px;
  margin-top: -15px;
  margin-right: auto;
  margin-left: auto;
}

.works-items {
  display: flex;
  flex-wrap: wrap;
}

.works-img {
  display: block;
}

.works-item {
  width: 370px;
  margin: 15px;

  background-color: var(--primary-white-color);
}

.works-item-bottom {
  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin: 0;
  margin-bottom: 4px;
}

.works-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

