:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;
    --accent-color: #2196f3;
    --accent-color-hover: #188ce8;
    --team-bg-color: #f5f4fa;
    --footer-bg-color: #2f303a;
    --temporary-bg-color: #2f303a;
  }
  
  body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
  
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
  }
  
  /* All site */
  
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  
  .link {
    text-decoration: none;
  }
  
  .list {
    list-style: none;
  }
  
  /* site-nav */
  
  .logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    color: var(--accent-color);
  }
  
  .logo-accent {
    color: var(--title-text-color);
  }
  
  .logo-accent:hover {
    color: var(--accent-color);
  }
  
  .site-nav-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .site-nav-text:hover,
  .site-nav-text:focus {
    color: var(--accent-color);
  }
  
  .site-contact {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  
  .site-contact:hover,
  .site-contact:focus,
  .current {
    color: var(--accent-color);
  }
  
  
  
  .hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  
  .hero-button {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  .hero-button:hover,
  .hero-button:focus {
    background-color: var(--accent-color-hover);
  }
  
  .hero-bg-temporary {
    background-color: var(--temporary-bg-color);
  }
  
  
  
  .advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .advantages-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
  }
  
  
  
  .team {
    background-color: var(--team-bg-color);
  }
  .team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }
  
  .team-role {
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color);
  }
  
  
  
  .logo-accent-footer {
    color: var(--primary-white-color);
  }
  
  .logo-accent-footer:hover {
    color: var(--accent-color);
  }
  
  .footer {
    background-color: var(--footer-bg-color);
  }
  
  .footer-map {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    color: var(--primary-white-color);
  }
  
  .footer-contact {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-map:hover,
  .footer-map:focus,
  .footer-contact:hover,
  .footer-contact:focus {
    color: var(--accent-color);
  }
  

  
  .button-works {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
  
    border: none;
    border-radius: 4px;
  }
  
  .button-current {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  
  .button-works:hover,
  .button-works:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  
    cursor: pointer;
  }
  
  
  
  .works-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  
  .works-text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
  }